name: Publish

on:
  workflow_dispatch:
  release:
    types: [published]
  push:
    branches:
      - main

env:
  PROJECT_NAME: med-signal

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ['3.10']

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 9
          submodules: false
      
      - name: Use Python ${{matrix.python-version}}
        uses: actions/checkout@v3
        with:
          python-version: ${{matrix.python-version}}
      
      - uses: actions/cache@v3
        id: depcache
        with:
          path: deps
          key: requirements-pip-${{ matrix.python-version }}-${{ hashFiles('requirements.txt') }}

      - name: Download dependencies
        if: steps.depcache.outputs.cache-hit != 'true'
        run: |
          pip download --dest=deps -r requirements.txt
      
      - name: Install dependencies
        run: |
          python m pip install --upgrade pip
          pip install -U --no-index --find-links=deps deps/*
          pip install tox tox-gh-actions
      
      - name: Run tests with tox
        run: tox
      
      - name: Install distribution dependencies
        run: pip install --upgrade twine setuptools wheel
      
      - name: Create distribution package
        run: python setup.py sdist
      
      - name: Upload distribution package
        uses: actions/upload-artifact@master
        with:
          name: dist-package-${{ matrix.python-version }}
          path: dist
        if: matrix.python-version == "3.10"
    
  publish:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'release'
    steps:
      - name: Download a distribution artifact
        uses: actions/download-artifact@v2
        with:
          name: dist-package-3.10
          path: dist

      - name: Publish dist package to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
      
